{% extends "base.html" %}

{% block content %}
<!-- chat/templates/chat/index.html -->

<body>
    What user would you like to chat with?<br>
    <input id="room-name-input" type="text" size="100"><br>
    <input id="room-name-submit" type="button" value="Enter">

    {% for thread in threads %}
    
    {% if thread.first.username == user.username %} 
    <a href= {% url 'chats:thread' thread.second.username %} >  {{thread.second.username}}
    {% else %}
    <a href= {% url 'chats:thread' thread.first.username %} > {{thread.first.username}} </a>
    {% endif %}
    
    
    {% endfor %}

    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };
         document.querySelector('#room-name-input').onkeyup =  function(e) {
            if (e.keyCode === 13) {  // enter, return
                window.location += '/messages/' + document.querySelector('#room-name-input').val
            }
        };

        

        
    </script>

{% endblock %}